body{
    background-color: black ;
}

/* Tauler */
#taula{
    margin: 20px auto;
}
.fons{
    background-color: green;
}
.blanc, .negre{
    margin: 0 auto;
    width: 65px;
    height: 65px;
    border-radius: 50px;
}
.blanc{
    background-color: white;
}
.negre{
    background-color: black;
}

td{
    width: 75px;
    height: 75px;
}